.table{
    border: 1px solid #0000;
    height: 400px;
    margin: 50px auto auto auto;
    width: 50%;
}

.table__container{
    height: auto;
    margin: auto;
    width: 560px;
}

.table__container--btn{
    display: flex;
    justify-content: space-between;
    width: 245px;
}

.table__container--names{
    background-color: rgb(224, 224, 224);
    height: 258px;
    width: 560px;
}

.itemOne{
    background-color:  rgb(140, 211, 240);
    padding: 8px;
    width: 110px;
}

.itemTwo{
    background-color:  rgb(223, 140, 240);
    padding: 8px;
    width: 110px;
}

.itemThree{
    background-color:  rgb(225, 240, 140);
    padding: 8px;
    width: 110px;
}

.itemFour{
    background-color:  rgb(143, 240, 140);
    padding: 8px;
    width: 110px;
}

.itemFive{
    background-color:  rgb(240, 213, 140);
    padding: 8px;
    width: 110px;
}

.itemSix{
    background-color:  rgb(141, 92, 151);
    padding: 8px;
    width: 110px;
}

.itemSeven{
    background-color:  rgb(228, 135, 135);
    padding: 8px;
    width: 110px;
}

.btnOrderTypes__container{
    display: flex;
}

